.App {
  text-align: center;
}
body{
  display:flex;
  justify-content: center;
  align-items: center;
  overflow: auto;
  /* border: 2px solid black; */
}

form{
  padding: 2em;
  margin: 2em;
  background-color: #8093e0;
  border-radius: 5px;
  max-width:fit-content ;
}
p{
  font-size:0.8em;
  color: red;
}
input{
  padding:0.3em;
  margin: 0.2em;
}
#map{
  background-color: #8093e0;
  padding: 0.8em;
  border-radius: 5px;
  margin: 1em;
  max-width:fit-content;
}

#map>span{
  margin: 0.5em;
}